/* General CSS */

/* Primary Header */

.tnw-logo{
	position: absolute;
	margin-left: 6px;
	margin-top: 110px;
	z-index: 999;
	height: 100px;
	width: 200px;
	background-color: #aaa;
}

header{
	height: 30px;
	width: 100%;
	background-color: blue;
}

.list-menu ul, .about-menu ul{
	list-style: none;
}

.list-menu ul li, .about-menu ul li{
	display: inline;
}

.list-menu{
	float: left;
}

.about-menu{
	float: right;
}

/* Categories text and social icons  */

.categories-container{
	height: 60px;
	width: 100%;
	background-color: #ccc;
}

.social{
	float: right;
	height: 30px;
	width: 100px;
	background-color: green;
}

/* Main Article */

.main-articles-container{
	background-color: #AAA;
	padding: 1px;
	height: 400px;
}

.wrapper{
	margin: 5px;
	height: 5px;
	width: 100%;
	height: 355px;
	position: relative;
	background-color: red;
	display: block;
}

.main-article1{
	background-color: green;
	width: 59%;
	height: 350px;
	margin-right: 5px;
	float: left;
}

.article-wrapper{
	width: 40%;
	float: right;
}

.main-article2{
	background-color: green;
	width: 100%;
	height: 173px;
	margin-bottom: 5px;
}

.main-article3{
	background-color: blue;
	width: 100%;
	height: 173px;
}

/* Latest News Section */
.latest-news{
	width: 100%;
	height: 490px;
	background-color: blue;
}

.articles-container{
	background-color: green;
	height: 250px;
	margin: 0 auto;
	width: 98%;
}

.large{
	height: 450px;
}

.tnw-conference{
	margin-top: 5px;
	background-color: blue;
	height: 300px;
	width: 100%;
}

.latest-funding{
	margin-top: 5px;
	background-color: blue;
	height: 300px;
	width: 100%;
}

.latest-funding h3{
	background-color: pink;
	display: inline-block;
}

.heading-menu{
	float: right;
	
	background-color: yellow;
}

.heading-menu ul{
	list-style: none;
}

.heading-menu ul li{
	display: inline;
}

.three-columns{
	margin-top: 5px;
	background-color: blue;
	height: 300px;
	width: 100%;
}

.apps{
	background-color: #111;
}

.gear{
	background-color: #222;
}

.tech{
	background-color: #333;
}


.latest-deals{
	margin-top: 5px;
	background-color: blue;
	height: 300px;
	width: 100%;
}

footer{
	margin-top: 5px;
	background-color: black;
	height: 300px;
	width: 100%;
}

.col{
	float: left;
	width: 33.333%;
}

.upcoming-events{
	width: 33.3333%;
	height: 50px;
	background-color: #666;
}

.popular-companies{
	width: 33.3333%;
	height: 50px;
	background-color: #777;
}

.trending-topics{
	width: 33.3333%;
	height: 50px;
	background-color: #888;
}

.socials{
	width: 100%;
	height: 50px;
	background-color: #999;
}

.about-footer{
	width: 100%;
	height: 50px;
	background-color: #aaa;
}

.copyright-information{
	width: 100%;
	height: 50px;
	background-color: #bbb;
}

/* MISC */

.hidden{
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6 & IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

.clear{
	clear: both;
}

.mobile-header{
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
}

@media screen and (max-width: 1024px){
	.tnw-logo{
		float: left;
		height: 80px;
		width: 100px;
		background-color: #aaa;
		position: relative;
		margin: 0;
	}

}


@media screen and (max-width: 768px){
	.tnw-logo{
		height: 40px;
		width: 100px;
		background-color: yellow;
		position: relative;
		float: left;

	}

	.mobile-header{
		display: block;
		position: relative;
		float: right;
		
	}

	.menu, .search{
		display: inline-block;
		height: 40px;
		border: 1px solid #ddd;
		margin: 0;
	}

	.menu{
		
	}

	header{
		display: none;
	}

	.categories-container{
		display: none;
	}

	.main-article1{
		width: 100%;
		height: 100px;
		margin-bottom: 10px;
	}

	.article-wrapper{
		float: none;
		width: 100%;
		clear: both;
	}

	.main-article2{
		float: none;
		height: 100px;
	}

	.main-article3{
		float: none;
		height: 100px;
	
	}
}


